@font-face {
    font-family: 'GraphikLCG';
    font-weight: 400;
    font-style: normal;
    src: url(..fonts/GraphikLCG-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'GraphikLCG';
    font-weight: 600;
    font-style: normal;
    src: url(..fonts/GraphikLCG-Semibold.ttf) format('ttf');
}