* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'GraphikLCG';
}

.container{
    max-width:1290px;
    margin:0 auto;
}

.header a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



.header {
    min-height: 95px;
    display: flex;
    align-items: center;
}


.header-list {
    width: 500px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 51px;
    flex-wrap: wrap;

}

.list a {
    color: black;
}

.header-btns {
    width: 250px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

button {
    height: 45px;
    width: 120px;
}

.btn{
    font-weight: 600;
    font-size: 16px;
}

.log{
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    
}

.try {
    background-color: #FF6336;
    color: white;
    text-align: center;
    border: 1px solid #FF6336;
}

.demo-lokalise{
    display: flex;
    flex-wrap: wrap;
    padding:130px 0 180px 0;
}

.demo-lokalise img{
    width: 760px;
    height: 530px;
}


.demo-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 610px;
    width:500px;
}

.free {
    width: 160px;
    height: 60px;
    color: white;
    background-color: #FF6336;
    border: 1px solid #FF6336;
}

.book {
    width: 160px;
    height: 60px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.cnt-head {
    width: 552px;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
}

.cnt-text {
    width: 470px;
    font-size: 25px;
    line-height: 35px;
}

.btns {
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footnote {
    font-size: 15px;
    line-height: 25px;
}



.bg-orange {
    height: 350px;
    background-color: #FF9C7D;
    padding-top: 100px;

}

.item-brand p {
    width: 720px;
    height: 120px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.item-brand {
    display: flex;
    justify-content: center;
    align-items: center;

}

.brand {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 70px;
}

.tidal .daimer{
    width: 150px;
    height: 20px;
    align-items: center;
}
.yelp{
    width: 107px;
    height: 50px;
    align-items: center;
}




.cart-item {
    font-weight: 600;
    font-size: 50px;
    width: 380px;
    line-height: 60px;
    margin-bottom: 30px;
}

.link {
    font-size: 20px;
    font-weight: 600;
    margin-top: 35px;
}

p a {
    text-decoration: none;
    color: black;
}




.container-story {
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
}

.card-story {
    display: flex;
    flex-direction: column;
    line-height: 70px;
    align-self: center;
}

.card-picture {
    height: 632px;
    width: 632px;
}



.line {
    text-decoration: underline;
}


.story {
    font-size: 20px;
    width: 500px;
    line-height: 30px;
}



.bg-biege {
    background-color: #FFF8E4;
    height: 1033px;

}

.header-biege {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    padding-top: 120px;
}

.block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;

}

.block-icon {
    width: 330px;
    height: 294px;
}

.icon {
    width: 160px;
    height: 120px;
}

div.block-icon {
    text-align: center;
}

.block-item {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin: 25px;
}


.block-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}


.bg-white {
    padding-top: 155px;
}

.box-item {
    font-size: 50px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;

}

.boxs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 185px;
}

.box {
    width: 410px;
    
}

.box-img {
    height: 185px;
    width: 190px;
    
}

.box-list {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 50px;
}

.box-text {
    font-size: 20px;
    line-height: 30px;
    width: 410px;
    margin: 34px 0 25px;
}

.box-link {
    font-size: 20px;
    line-height: 30px;
}

.box-link a {
    text-decoration: underline;
}



.bg-blue {
    background-color: #C9E8F2;
}
.revolut-box{
    display: flex;
    height: 310px;
    justify-content: space-between;
    padding-top: 63px;
    padding-bottom: 105px;
}

.bl-text {
    font-size: 30px;
    width: 920px;
    line-height: 40px;
}

.bl-name {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin: 23px auto 14px;
}

.bl-photo img {
    height: 310px;
    width: 310px;
}



.bg-brown {
    background-color: #DABC98;
    height: 332px;

}

.br-cake {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;
}

.p-cake {
    font-size: 35px;
    font-weight: 600;
    width: 461px;
    height: 168px;
    line-height: 50px;
    border-right: 1px solid #000000;
}

.cake {
    width: 176px;
    height: 154px;
}

.star {
    width: 128px;
    height: 20px;
}

.g2 p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}
.capterra p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}
.g2 {
    display: flex;
    flex-direction: column;
    height: 116px;
    align-items:flex-start;
    justify-content:space-around;
}

.capterra {
    display: flex;
    flex-direction: column;
    height: 116px;
    align-items: flex-start;
    justify-content: space-around;
}



.bird {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1100px;
    gap: 20px;
    justify-content: center;
}

.bird-head {
    font-size: 65px;
    font-weight: 600px;
    line-height: 75px;
    width: 791px;
    text-align: center;
}

.bird-text {
    font-size: 25px;
    line-height: 30px;
    width: 539px;
    text-align: center;
}

.bird-img{
    height: 445px;
    width: 1023px;
}

.btn-bird {
    color: white;
    background-color: #FF6336;
    border:none;
    width: 193px;
    font-weight: 600;
    font-size: 16px;
    height: 60px;
}




.lokalise-free {
    background-color: #FF9C7D;
    height: 603px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.free-head {
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
    width: 784px;
    text-align: center;
    margin-bottom: 30px;
}

.free-text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 55px;
}

.free-btn {
    background-color: black;
    border: 1px black solid;
    color: white;
    font-size: 17px;
    font-weight: 600;
    width: 160px;
    height: 60px;
}

button a {
    text-decoration: none;
    color: inherit;
}



.bg-footer {
    padding-top: 92px;
    padding-bottom: 95px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.ft-header {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 28px;
}

.footer-content li {
    font-size: 15px;
    line-height: 15px;

}

.content-picture {
    width: 300px;
    height: 300px;
}

.specialized-logo {
    margin: 31px 0 11px 0;
    height: 32px;
    width: 80px;
}

.content-text {
    width: 290px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

.content-link {
    font-size: 20px;
    font-weight: 600;
}


.footer-content h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 20px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}




.bg-grey {
    background-color: #EEEEEE;
}

.ft-border {
    border-top: 1px solid #000000;
}

.ft {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}

.ft-left{
    display: flex;
    align-items: center;
    gap:14px;
}

.ft-left p {
    display: inline-block;
    width: 250px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.ft-right{
    margin-right: 75px;
}

.ft-right p {
    width: 109px;
    font-size: 12px;
    line-height: 15px;
}
